.booking-page{
    min-height: 100vh;
    background: #111827;
    color: white;
    padding: 80px;
}

.booking-page h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 42px;
}

.booking-container{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 40px;
    align-items: start;
}



.booking-form{
    margin-top: 30px;
}

.input-group{
    display: flex;
    margin-bottom: 18px;
    flex-direction: column;
}


.input-group label{
    margin-bottom: 8px;
    font-weight: 600;
}

.input-group input{
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #111827;
    color: white;
    font-size: 16px;
}

.confirm-btn{
    width: 100%;
    padding: 16px;
    margin-top:15px;
    background: #2563eb;
    color: white;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: .3s;
}

.confirm-btn:hover{
    background: #1d4ed8;
}

.back-btn{
    position: fixed;
    top: 30px;
    left: 30px;
    width: 50px;
    height: 50px;
    border-radius:  50%;
    background: #1f2837;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    transition: .3s;
}
.back-btn:hover{
    background: #2563eb;
}

.booking-left{
    color: white;
}
.booking-image{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

.booking-location{
    color: #60a5fa;
    margin-bottom: 15px;
}

.booking-description{
    color: #d1d5db;
    line-height: 1.7;
}

.booking-right{
    background: #1f2837;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,.4);
}

.trip-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-top: 25px;
}

.trip-info p{
    background: #1f2937;
    padding: 15px;
    border-radius: 12px;
}

.booking-right h2{
    margin-bottom: 25px;
    text-align: center;
    font-size: 28px;
}