* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  margin: 0;
  background: #111827;
}

body::-webkit-scrollbar{
  width: 8px;
}

body::-webkit-scrollbar-track{
  background: #111827;
}

body::-webkit-scrollbar-thumb{
  background: #374151;
  border-radius:  10px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  outline: none;
}

button {
  font-family: inherit;
}