* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

a {
  outline: none;
}

button {
  font-family: inherit;
}